<%- include("header") -%>

<header class="masthead" style="background-image: url('<%=item.imageUrl%>')">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
			<div class="col-12 text-center">
				<h1 class="font-weight-light"><%= item.title %></h1>
				<p class="lead"><%= item.description %></p>
			</div>
		</div>
	</div>
</header>

<%- include("footer") -%>
